@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>              
            </hgroup>
            <p>
                To download more projects visit <a href="https://github.com/shaliniac/ShaliniNETSamples/tree/master"> https://github.com/shaliniac/ShaliniNETSamples/tree/master</a>
            </p>
            <p>
                To read my blog visit  <a href="http://shalinidotnet.blogspot.co.uk/"> https://github.com/shaliniac/ShaliniNETSamples/tree/master </a>
            </p>
            
        </div>
    </section>
}
<h3>This application features are listed below:</h3>
<ol class="round">
    <li class="one">
        <h5>Students Details</h5>
        This application allows you to enter students information in SQL Server Database. When you click detail of a Student you will see all the courses to which the student is enrolled currently. 
    </li>

    <li class="two">
        <h5>Courses Details</h5>
       This application allows you to enter courses information in SQL Server Database. When you click detail of a course you will see all the students enrolled on to the course. 
    </li>

    <li class="three">
        <h5>Enrolment</h5>
      The Enrollment is very simple just pick the course name and the student name from the drop down list and click create. This will enrol a student on a course. 
    </li>
</ol>
