@{
    ViewBag.Title = "Contact";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>            
        </div>
    </section>
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>07842799412</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="ani_sac@yahoo.com">ani_sac@yahoo.com</a></span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
       48, The street of Paradise , Wales
    </p>
</section>