@{
    ViewBag.Title = "Welcome to Richie Creative University";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>            
        </div>
    </section>
}
<h3>This application features are listed below:</h3>
<ol class="round">
    <li class="one">
        <h5>Students</h5>
        The information regarding students can be saved.
    </li>

    <li class="two">
        <h5>Courses</h5>
        All Courses related information can be updated.
    </li>

    <li class="three">
        <h5>Instructors</h5>
        The Instructors details can be recorded.
    </li>
     <li class="four">
        <h5>Departments</h5>
        Departments information can also be tracked.
    </li>
</ol>
